%%% -*- mode: erlang -*-

{require_otp_vsn, "R13B04|R14|R15|R16|17|18"}.

%% Depends
{deps_dir, "../"}.
{deps, [{lager, ".*"}]}.

%% Erlang compiler options
{erl_opts, [debug_info,
            warnings_as_errors,
            {parse_transform, lager_transform},
            {i, "../gmt_util/include/"}
           ]}.

%% EUnit options
{eunit_opts, [verbose]}.
